## Exploracion del dataframe de la funcion loader.py

In [1]:
# Cargar librerias

import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

Importar la funcion desde loader.py

In [8]:
excel_path = r"D:\asocio25-resultados\notebooks\combined_results.xlsx"

df = pd.read_excel(excel_path)
df.head()

  Empleado Día Escritorio Zona    Instance
0       E0   L        D26   Z8  instance10
1       E0  Mi        D26   Z8  instance10
2       E1   L        D25   Z8  instance10
3       E1  Mi        D25   Z8  instance10
4      E10  Mi        D19   Z6  instance10

In [10]:
for instance in instances:
    subset = df[df['Instance'] == instance]
    counts = subset['Empleado'].value_counts().reset_index()
    counts.columns = ['Empleado', 'Cantidad de registros']
    print(f"Cantidad de registros por Empleado - {instance}")
    display(counts)

Cantidad de registros por Empleado - instance10

   Empleado  Cantidad de registros
0       E13                      3
1       E30                      3
2       E39                      3
3       E74                      3
4       E51                      3
..      ...                    ...
86      E89                      1
87      E91                      1
88      E92                      1
89      E98                      1
90      E99                      1

[91 rows x 2 columns]

Cantidad de registros por Empleado - instance1

   Empleado  Cantidad de registros
0        E2                      3
1        E4                      3
2       E18                      3
3        E1                      2
4        E9                      2
5       E11                      2
6       E10                      2
7       E15                      2
8        E7                      2
9        E3                      2
10      E19                      2
11      E14                      2
12       E8                      2
13       E0                      1
14      E13                      1
15      E12                      1
16      E16                      1
17      E17                      1
18       E5                      1
19       E6                      1

Cantidad de registros por Empleado - instance2

   Empleado  Cantidad de registros
0        E1                      3
1        E7                      3
2       E17                      3
3        E9                      3
4        E8                      3
5        E3                      2
6       E10                      2
7       E18                      2
8       E11                      2
9       E13                      2
10      E12                      2
11       E6                      2
12       E5                      2
13      E16                      2
14       E2                      2
15       E0                      1
16      E14                      1
17      E15                      1
18       E4                      1

Cantidad de registros por Empleado - instance3

   Empleado  Cantidad de registros
0        E6                      3
1       E39                      3
2       E24                      3
3       E25                      3
4        E2                      3
5       E21                      3
6       E17                      3
7       E16                      3
8        E4                      2
9        E8                      2
10      E30                      2
11      E15                      2
12      E12                      2
13      E14                      2
14      E10                      2
15       E0                      2
16      E27                      2
17      E22                      2
18      E23                      2
19      E26                      2
20       E3                      2
21      E29                      2
22      E20                      2
23      E19                      2
24      E36                      2
25      E37                      2
26      E32                      2
27      E31                      2
28      E13                      1
29      E11                      1
30       E1                      1
31      E18                      1
32      E28                      1
33      E34                      1
34      E33                      1
35      E35                      1
36       E5                      1
37      E38                      1
38       E7                      1
39       E9                      1

Cantidad de registros por Empleado - instance4

   Empleado  Cantidad de registros
0        E0                      3
1       E11                      3
2       E14                      3
3        E9                      3
4       E24                      3
5       E28                      3
6        E2                      3
7       E16                      3
8       E37                      3
9        E7                      3
10      E32                      3
11       E5                      2
12       E1                      2
13      E15                      2
14      E13                      2
15      E10                      2
16      E22                      2
17      E21                      2
18      E29                      2
19      E26                      2
20      E19                      2
21      E20                      2
22      E18                      2
23      E17                      2
24      E35                      2
25       E4                      2
26      E39                      2
27       E3                      2
28      E33                      2
29      E38                      2
30      E31                      2
31      E12                      1
32      E27                      1
33      E25                      1
34      E23                      1
35      E30                      1
36      E36                      1
37      E34                      1
38       E6                      1
39       E8                      1

Cantidad de registros por Empleado - instance5

   Empleado  Cantidad de registros
0        E1                      3
1       E15                      3
2       E17                      3
3       E30                      3
4       E34                      3
5       E47                      3
6       E46                      3
7       E16                      2
8        E0                      2
9        E3                      2
10      E29                      2
11      E27                      2
12      E18                      2
13      E20                      2
14      E22                      2
15      E25                      2
16       E2                      2
17      E31                      2
18      E26                      2
19      E42                      2
20      E43                      2
21      E36                      2
22      E19                      2
23      E11                      2
24      E10                      2
25       E8                      2
26       E7                      2
27      E58                      2
28       E6                      2
29       E9                      2
30      E54                      2
31      E39                      2
32      E37                      2
33      E45                      2
34      E44                      2
35      E48                      2
36      E55                      2
37      E52                      2
38      E51                      2
39      E50                      2
40       E5                      2
41      E57                      2
42      E56                      2
43      E28                      1
44      E24                      1
45      E14                      1
46      E12                      1
47      E23                      1
48      E13                      1
49      E41                      1
50      E32                      1
51       E4                      1
52      E40                      1
53      E35                      1
54      E49                      1
55      E53                      1
56      E59                      1

Cantidad de registros por Empleado - instance6

   Empleado  Cantidad de registros
0       E17                      3
1       E18                      3
2       E11                      3
3       E25                      3
4       E21                      3
5       E58                      3
6       E55                      3
7       E41                      3
8       E43                      3
9       E46                      3
10      E33                      3
11      E49                      3
12      E31                      2
13       E3                      2
14      E19                      2
15      E24                      2
16      E28                      2
17      E27                      2
18      E26                      2
19       E4                      2
20      E30                      2
21      E14                      2
22      E13                      2
23      E16                      2
24      E20                      2
25       E0                      2
26      E12                      2
27       E8                      2
28      E56                      2
29      E57                      2
30       E6                      2
31       E9                      2
32      E53                      2
33      E54                      2
34       E5                      2
35      E48                      2
36      E40                      2
37      E38                      2
38      E51                      2
39      E50                      2
40      E34                      2
41      E36                      2
42      E37                      2
43       E7                      2
44      E29                      1
45      E23                      1
46      E22                      1
47       E2                      1
48       E1                      1
49      E10                      1
50      E15                      1
51      E32                      1
52      E47                      1
53      E42                      1
54      E39                      1
55      E35                      1
56      E44                      1
57      E52                      1
58      E59                      1

Cantidad de registros por Empleado - instance7

   Empleado  Cantidad de registros
0       E34                      3
1       E35                      3
2       E36                      3
3       E24                      3
4       E55                      3
..      ...                    ...
71      E74                      1
72      E76                      1
73      E77                      1
74      E79                      1
75       E8                      1

[76 rows x 2 columns]

Cantidad de registros por Empleado - instance8

   Empleado  Cantidad de registros
0       E77                      3
1       E75                      3
2       E42                      3
3       E34                      3
4       E40                      3
..      ...                    ...
66      E69                      1
67      E72                      1
68      E74                      1
69       E8                      1
70       E9                      1

[71 rows x 2 columns]